@using System.Security.Claims



@if (User.Identity!.IsAuthenticated) // Login ise bu kısım görünecek
{
    <ul class="navbar-nav me-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="User" asp-action="GetUserInfo" >Profile</a></li>
                <li><a class="dropdown-item" asp-controller="User" asp-action="PasswordChange">Password Settings</a></li>
                <li><a class="dropdown-item" asp-controller="User" asp-action="UserEdit">Profile Edit</a></li>
                <li><a class="dropdown-item" asp-controller="User" asp-action="Claims">Claims</a></li>
                

                @if (User.HasClaim(x => x.Type==ClaimTypes.Role && x.Value == "Admin")) // Admin rolündeyse navbarda bu kodlama görünecek. Değilse görünmeyecek
                {
                    <li><a class="dropdown-item" asp-area="admin" asp-controller="Home" asp-action="Index">Admin</a></li>
                }
                <li><a class="dropdown-item" asp-controller="User" asp-action="Logout" >Logout</a></li>
            </ul>
        </li>
    </ul>
}

else
{
    <a class="btn btn-outline-success mx-2" asp-controller="Login" asp-action="Login">Login</a>

    <a class="btn btn-outline-success" asp-controller="Register" asp-action="SignUp">Sign Up</a>
}