@model PasswordChangeDto
@{
    ViewData["Title"] = "PasswordChange";
}

<h1>PasswordChange</h1>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Change Password </h2>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
            @TempData["SuccessMessage"]
        </div>

        <form asp-controller="User" asp-action="PasswordChange" method="post">

            <div class="row mb-3">
                <label for="PasswordOld" class="col-sm-4 col-form-label" asp-for="PasswordOld"></label>
                <div class="col-sm-8">
                    <input type="password" asp-for="PasswordOld" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordOld"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PasswordNew" class="col-sm-4 col-form-label" asp-for="PasswordNew"></label>
                <div class="col-sm-8">
                    <input type="password" asp-for="PasswordNew" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordNew"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label typeof="password" for="PasswordConfirm" class="col-sm-4 col-form-label" asp-for="PasswordConfirm"></label>
                <div class="col-sm-8">
                    <input type="password" asp-for="PasswordConfirm" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>

            <div class="row mb-3">

                <div class="col-sm-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </div>

        </form>



    </div>
</div>
